body{
    background-color: #4f31a1;
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
}
footer{
    text-align: center;
    color: white;
}
a{
    color: white;
    font-style: italic;
    text-decoration: none;
}
a:hover{
    color:black ;
    text-decoration: underline;
}
#res{
    margin: auto;
    margin-top: 5px;
    
}